<a href="https://colab.research.google.com/github/ayarelif/Covid-19/blob/master/Elif_Ayar_Covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Number of Case and Death related to Covid-19 all Over the World

In [ ]:
# Import libraries 
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

## Diagnosis factors

In [ ]:
# Load the dataset : diagnosis-of-covid-19-and-its-clinical-spectrum
situation=pd.read_csv('/content/who-situation-reports-covid-19.csv')
situation.head(5)

  reported_date  ...                                         report_url
0      4/5/2020  ...  https://www.who.int/docs/default-source/corona...
1      4/5/2020  ...  https://www.who.int/docs/default-source/corona...
2      4/5/2020  ...  https://www.who.int/docs/default-source/corona...
3      4/5/2020  ...  https://www.who.int/docs/default-source/corona...
4      4/5/2020  ...  https://www.who.int/docs/default-source/corona...

[5 rows x 33 columns]

In [ ]:
# Check the shape
situation.shape

(7758, 33)

In [ ]:
# check the column names
situation.columns

Index(['reported_date', 'reporting_country_territory', 'province_city',
       'confirmed_cases', 'new_confirmed_cases', 'total_deaths',
       'new_total_deaths', 'transmission_classification',
       'total_cases_with_travel_history_to_china',
       'new_cases_with_travel_history_to_china',
       'total_cases_with_possible_or_confirmed_transmission_outside_china',
       'new_cases_with_possible_or_confirmed_transmission_outside_china',
       'total_cases_with_site_of_transmission_under_investigation',
       'new_cases_with_site_of_transmission_under_investigation',
       'place_of_exposure_in_china_cases',
       'place_of_exposure_in_china_cases_new',
       'place_of_exposure_outside_reporting_country_and_china_cases',
       'place_of_exposure_outside_reporting_country_and_china_cases_new',
       'place_of_exposure_in_reporting_country_cases',
       'place_of_exposure_in_reporting_country_cases_new', 'suspected_cases',
       'daily_suspected_cases', 'daily_lab_confirmed_cases',
       'daily_clinically_diagnosed_cases', 'daily_total_cases',
       'cumulative_total_cases', 'cumulative_lab_confirmed_cases',
       'cumulative_clinically_diagnosed_cases', 'cumulative_deaths',
       'days_since_last_reported', 'who_region', 'population', 'report_url'],
      dtype='object')

I want to clean data becuase I do not need all 33 columns.

In [ ]:
#  Create a new dataset
column=['reported_date', 'reporting_country_territory',
       'confirmed_cases', 'new_confirmed_cases', 'total_deaths',
       'new_total_deaths']
covid_situation=situation[column]

In [ ]:
# Check first 5 columns
covid_situation.head()

  reported_date reporting_country_territory  ... total_deaths  new_total_deaths
0      4/5/2020                       China  ...       3335.0               4.0
1      4/5/2020           Republic of Korea  ...        177.0               3.0
2      4/5/2020                   Australia  ...         28.0               5.0
3      4/5/2020                    Malaysia  ...         53.0               3.0
4      4/5/2020                 Philippines  ...        136.0              29.0

[5 rows x 6 columns]

In [ ]:
# Check shape and missing informations
print(covid_situation.shape)
print(covid_situation.isnull().sum())

(7758, 6)
reported_date                    0
reporting_country_territory      0
confirmed_cases                  0
new_confirmed_cases            715
total_deaths                   635
new_total_deaths               764
dtype: int64

In [ ]:
# I want to check the datatype as well
covid_situation.dtypes

reported_date                   object
reporting_country_territory     object
confirmed_cases                 object
new_confirmed_cases            float64
total_deaths                   float64
new_total_deaths               float64
dtype: object

Confirmed case column is suppossed to be integer type, so change it. BEfore doing that, I have to fix the string numbers such as '28 060'  '31 211', '34 598,and '37 251'.

In [ ]:
# Find "28 060" number is where
row_number=covid_situation[covid_situation['confirmed_cases']=='28 060']
row_number

     reported_date reporting_country_territory  ... total_deaths  new_total_deaths
5634      2/6/2020                       China  ...        564.0              73.0

[1 rows x 6 columns]

In [ ]:
# Fix it
row_number.replace({'28 060	':'28060'})

     reported_date reporting_country_territory  ... total_deaths  new_total_deaths
5634      2/6/2020                       China  ...        564.0              73.0

[1 rows x 6 columns]

In [ ]:
# Apply the same code to original data
covid_situation.loc[[5634],:]=covid_situation.loc[[5634],:].replace({'28 060':'28060'},inplace=False)
# Check
covid_situation.loc[[5634],:]
# Same fix for number 31 211
row_number2=covid_situation[covid_situation['confirmed_cases']=='31 211']
row_number2
covid_situation.loc[[5660],:]=covid_situation.loc[[5660],:].replace({'31 211':'31211'},inplace=False)
covid_situation.loc[[5660],:]
row_number3=covid_situation[covid_situation['confirmed_cases']=='34 598']
row_number3
covid_situation.loc[[5686],:]=covid_situation.loc[[5686],:].replace({'34 598':'34598'},inplace=False)
covid_situation.loc[[5686],:]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     reported_date reporting_country_territory  ... total_deaths  new_total_deaths
5686      2/8/2020                       China  ...        723.0              86.0

[1 rows x 6 columns]

In [ ]:
# Same fix for number 
row_number4=covid_situation[covid_situation['confirmed_cases']=='37 251']
row_number5=covid_situation[covid_situation['confirmed_cases']=='40 235']
row_number6=covid_situation[covid_situation['confirmed_cases']=='42 708']
row_number7=covid_situation[covid_situation['confirmed_cases']=='44 730']
row_number8=covid_situation[covid_situation['confirmed_cases']=='46 550']
row_number8

     reported_date reporting_country_territory  ... total_deaths  new_total_deaths
5816     2/13/2020                       China  ...          NaN               NaN

[1 rows x 6 columns]

In [ ]:
covid_situation.loc[[5712],:]=covid_situation.loc[[5712],:].replace({'37 251':'37251'},inplace=False)
covid_situation.loc[[5712],:]
covid_situation.loc[[5738],:]=covid_situation.loc[[5738],:].replace({'40 235':'40235'},inplace=False)
covid_situation.loc[[5738],:]
covid_situation.loc[[5764],:]=covid_situation.loc[[5764],:].replace({'42 708':'42708'},inplace=False)
covid_situation.loc[[5764],:]
covid_situation.loc[[5790],:]=covid_situation.loc[[5790],:].replace({'44 730':'44730'},inplace=False)
covid_situation.loc[[5790],:]
covid_situation.loc[[5816],:]=covid_situation.loc[[5816],:].replace({'46 550':'46550'},inplace=False)
covid_situation.loc[[5816],:]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     reported_date reporting_country_territory  ... total_deaths  new_total_deaths
5816     2/13/2020                       China  ...          NaN               NaN

[1 rows x 6 columns]

now, convert the data type as integer

In [ ]:
number='23'
type(number)

str

In [ ]:
int_number=float(number)
type(int_number)

float

In [ ]:
# Creat a function and then run over the whole data.
def  my_number(x):
   return float(x)
type(my_number(number))

float

In [ ]:
new_number=[]
for num in covid_situation['confirmed_cases']:
  new_number.append(my_number(num))

In [ ]:
new_number[:5]

[82875.0, 10156.0, 5454.0, 3333.0, 3018.0]

In [ ]:
# New columns
covid_situation['clean_confirmed_cases']=pd.Series(new_number)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
covid_situation[['clean_confirmed_cases','confirmed_cases']].head()

   clean_confirmed_cases confirmed_cases
0                82875.0           82875
1                10156.0           10156
2                 5454.0            5454
3                 3333.0            3333
4                 3018.0            3018

Looks good. I want to catogorize the dates as a month only.

In [ ]:
covid_situation.columns

Index(['reported_date', 'reporting_country_territory', 'confirmed_cases',
       'new_confirmed_cases', 'total_deaths', 'new_total_deaths',
       'clean_confirmed_cases'],
      dtype='object')

In [ ]:
# Let's look at the string format
type(covid_situation['reported_date'][0])

str

In [ ]:
# Set the datetime format
covid_situation['new_reported_date']=pd.to_datetime(covid_situation['reported_date'],infer_datetime_format=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
type(covid_situation['new_reported_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
# set the date time as month
covid_situation['month']=covid_situation['new_reported_date'].dt.month
covid_situation.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  reported_date reporting_country_territory  ... new_reported_date  month
0      4/5/2020                       China  ...        2020-04-05      4
1      4/5/2020           Republic of Korea  ...        2020-04-05      4
2      4/5/2020                   Australia  ...        2020-04-05      4

[3 rows x 9 columns]

I want to see which countries are most affected by Covid-19 as a number of cases and number of death

In [ ]:
covid_situation['clean_confirmed_cases'].dtype

dtype('float64')

In [ ]:
# new dataset
covid_countries=covid_situation[covid_situation['clean_confirmed_cases']>10000]
covid_countries.head(20)

    reported_date reporting_country_territory  ... new_reported_date  month
0        4/5/2020                       China  ...        2020-04-05      4
1        4/5/2020           Republic of Korea  ...        2020-04-05      4
19       4/5/2020                       Italy  ...        2020-04-05      4
20       4/5/2020                       Spain  ...        2020-04-05      4
21       4/5/2020                     Germany  ...        2020-04-05      4
22       4/5/2020                      France  ...        2020-04-05      4
23       4/5/2020              United Kingdom  ...        2020-04-05      4
24       4/5/2020                      Turkey  ...        2020-04-05      4
25       4/5/2020                 Switzerland  ...        2020-04-05      4
26       4/5/2020                     Belgium  ...        2020-04-05      4
27       4/5/2020                 Netherlands  ...        2020-04-05      4
28       4/5/2020                     Austria  ...        2020-04-05      4
89       4/5/2020  Iran (Islamic Republic of)  ...        2020-04-05      4
110      4/5/2020    United States of America  ...        2020-04-05      4
111      4/5/2020                      Canada  ...        2020-04-05      4
205      4/4/2020                       China  ...        2020-04-04      4
206      4/4/2020           Republic of Korea  ...        2020-04-04      4
224      4/4/2020                       Italy  ...        2020-04-04      4
225      4/4/2020                       Spain  ...        2020-04-04      4
226      4/4/2020                     Germany  ...        2020-04-04      4

[20 rows x 9 columns]

I am interested in 10 countries are China, USA,Spain,Italy,Germany,France,United Kingdom,Iran,Turkey,Switzerland. This also shows us number of cases and number of deaths are very high at those countries compared to others

In [ ]:
# Engage tha data with top 12 countries only.
countries=['China','United States of America','Switzerland','France','Germany','United Kingdom','Iran (Islamic Republic of)','Turkey','Italy','Spain']

In [ ]:
top_countries = covid_countries[covid_countries.reporting_country_territory.isin(countries)].head(10)
top_countries

    reported_date reporting_country_territory  ... new_reported_date  month
0        4/5/2020                       China  ...        2020-04-05      4
19       4/5/2020                       Italy  ...        2020-04-05      4
20       4/5/2020                       Spain  ...        2020-04-05      4
21       4/5/2020                     Germany  ...        2020-04-05      4
22       4/5/2020                      France  ...        2020-04-05      4
23       4/5/2020              United Kingdom  ...        2020-04-05      4
24       4/5/2020                      Turkey  ...        2020-04-05      4
25       4/5/2020                 Switzerland  ...        2020-04-05      4
89       4/5/2020  Iran (Islamic Republic of)  ...        2020-04-05      4
110      4/5/2020    United States of America  ...        2020-04-05      4

[10 rows x 9 columns]

In [ ]:
# Let's find the Longitude abd lontitude of those countries
# Create a new dataset
Covid_19={'country': ['China','italy','spain','germany','france','united kingdom','turkey','switzerland','iran','USA'],
        'confirmed_cases': [82875,119827,117710,85778,63536,38172,20921,19706,53183,241703],
        'latitude':[30.5928,41.8719,40.4637,51.1657,46.2276,55.3781,38.9637,46.8182,32.4279,40.7128],
        'longitude':[114.3055,712.5674,3.7492,10.4515,2.2137,3.4360,35.2433,8.2275,53.6860,74.0060]
        }

df=pd.DataFrame(Covid_19,columns=['country','confirmed_cases','latitude','longitude'])
df

          country  confirmed_cases  latitude  longitude
0           China            82875   30.5928   114.3055
1           italy           119827   41.8719   712.5674
2           spain           117710   40.4637     3.7492
3         germany            85778   51.1657    10.4515
4          france            63536   46.2276     2.2137
5  united kingdom            38172   55.3781     3.4360
6          turkey            20921   38.9637    35.2433
7     switzerland            19706   46.8182     8.2275
8            iran            53183   32.4279    53.6860
9             USA           241703   40.7128    74.0060

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd

# Initialize figure with subplots
fig = make_subplots(
    rows=2, cols=2,
    column_widths=[0.6, 0.4],
    row_heights=[0.4, 0.6],
    specs=[[{"type": "scattergeo", "rowspan": 2}, {"type": "bar"}],
           [            None                    , {"type": "surface"}]])

# Add scattergeo globe map of volcano locations
fig.add_trace(
    go.Scattergeo(lat=df["latitude"],
                  lon=df["longitude"],
                  mode="markers",
                  hoverinfo="text",
                  showlegend=False,
                  marker=dict(color="crimson", size=10, opacity=0.9)),
    row=1, col=1
)

# Add locations bar chart
fig.add_trace(
    go.Bar(x=df["country"],y=df["confirmed_cases"], marker=dict(color="crimson"), showlegend=False),
    row=1, col=2
)

# Update geo subplot properties
fig.update_geos(
    projection_type="orthographic",
    landcolor="white",
    oceancolor="MidnightBlue",
    showocean=True,
    lakecolor="LightBlue"
)

# Rotate x-axis labels
fig.update_xaxes(tickangle=45)

# Set theme, margin, and annotation in layout
fig.update_layout(
    template="plotly_dark",
    margin=dict(r=10, t=25, b=40, l=60),
    annotations=[
        dict(
            text="Source: WHO-Covid_19",
            showarrow=False,
            xref="paper",
            yref="paper",
            x=0,
            y=0)
    ]
)

fig.show()