<a href="https://colab.research.google.com/github/ayarelif/Covid-19/blob/master/Survey_covid_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Survey Related to Covid-19

##  Social Life

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
survey=pd.read_csv('/content/Covid_survey_soc.csv')
survey.head()

       State  Question-1A  Question-1B  ...  Question-4C  Question-4D  Question-4E
0   New York            4            4  ...            1            1            1
1   New York            2            2  ...            2            1            1
2   New York            2            2  ...            1            2            1
3   New York            3            3  ...            1            1            1
4   New York            2            3  ...            2            1            1

[5 rows x 12 columns]

In [ ]:
# Let's look at the shape and states names
print(survey.shape)
print(survey['State'].value_counts().head())

(395, 12)
 New York    395
Name: State, dtype: int64

In [ ]:
# Look at the type of state
survey['State'].dtype

dtype('O')

In [ ]:
# Any missing numbers
survey.isnull().sum()

State          0
Question-1A    0
Question-1B    0
Question-2A    0
Question-2B    0
Qestion-3A     0
Qestion-3B     0
Question-4A    0
Question-4B    0
Question-4C    0
Question-4D    0
Question-4E    0
dtype: int64

In [ ]:
# Any strange entry
survey.sample(20)
survey.head(20)
survey.tail(20)

         State  Question-1A  Question-1B  ...  Question-4C  Question-4D  Question-4E
375   New York            2            3  ...            1            3            1
376   New York            4            4  ...            1            3            1
377   New York            1            1  ...            3            2            1
378   New York            2            2  ...            1            1            1
379   New York            3            3  ...            3            4            1
380   New York            2            2  ...            1            1            1
381   New York            3            4  ...            1            1            1
382   New York            3            3  ...            3            2            1
383   New York            1            1  ...            1            1            1
384   New York            4            4  ...            4            4            3
385   New York            1            1  ...            1            1            1
386   New York            3            2  ...            1            2            1
387   New York            5            4  ...            1            4            1
388   New York            2            2  ...            2            2            1
389   New York            3            3  ...            1            2            2
390   New York            5            3  ...            1            1            1
391   New York            4            4  ...            1            1            1
392   New York            3            4  ...            1            4            1
393   New York            5            5  ...            1            4            1
394   New York            2            2  ...            1            2            1

[20 rows x 12 columns]

Looks very clean and ready to play with data

Here is the survey question I am looking for:

*   Question-1A: In the past month, how often did you talk with any of your neighbors?

*    Question-1B: During a typical month prior to March 1, 2020, when COVID-19 began spreading in the United States, how often did you talk
with any of your neighbors?

*   Question-2A: In the past month, how often did you communicate with friends and family by phone, text, email, app, or using the Internet?

*    Question-2B: During a typical month prior to March 1, 2020, when COVID-19 began spreading in the United States, how often did you
communicate with friends and family by phone, text, email, app, or using the Internet?

*    Question-3A: In the past month, did you spend any time volunteering for any organization or association, or not?

*    Question-3B: During a typical month prior to March 1, 2020, when COVID-19 began spreading in the United States, did you spend any time
volunteering for any organization or association, or not?

Question 1 and 2 have the answer options :

- 1 : Basically every day
- 2 : A few times a week
- 3 : A few times a month 
- 4 : Once a month 
- 5 : Not at all
- 6 : Not sure 
- 7 : Skipped on the web

Question 3 answer options:

- 1 : Yes
- 2 : No
- 3 : Not Sure
- 4 : Skip on the web

### Compare Question 1A with Question 1B

*   Question-1A: In the past month, how often did you talk with any of your neighbors?

*    Question-1B: During a typical month prior to March 1, 2020, when COVID-19 began spreading in the United States, how often did you talk
with any of your neighbors?

In [ ]:
#Check the data type
survey['Question-1A'].dtype

dtype('int64')

In [ ]:
# Change the data types as categorical variables
a=3
str(a)

'3'

In [ ]:
# Write a function
def my_number(a):
  return str(a)
my_number(a)

'3'

In [ ]:
# For Loop
str_number1=[]
for num in survey['Question-1A']:
  str_number1.append(my_number(num))
str_number1[:5]

['4', '2', '2', '3', '2']

In [ ]:
survey['Q-1A']=pd.Series(str_number1)
survey.sample()
survey[['Question-1A','Q-1A']].sample(3)

     Question-1A Q-1A
166            3    3
11             1    1
29             2    2

In [ ]:
# Let's change the data type for column 'Question-1B'
str_number2=[]
for num in survey['Question-1B']:
  str_number2.append(my_number(num))
str_number2[:5]
# Add new Column
survey['Q-1B']=pd.Series(str_number2)
survey.sample()
survey[['Question-1B','Q-1B']].sample(3)

     Question-1B Q-1B
242            2    2
173            3    3
58             1    1

In [ ]:
# Create a new dataset

concretion=survey[['State','Q-1A','Q-1B']]
concretion['Q-1A'].value_counts().sort_index()

1      53
2     134
3     103
4      50
5      49
77      4
98      2
Name: Q-1A, dtype: int64

In [ ]:
concretion['Q-1B'].value_counts().sort_index()

1      52
2     138
3     104
4      44
5      48
77      7
98      2
Name: Q-1B, dtype: int64

In [ ]:
# add the same groups in a list

In [ ]:
numbers=['1','2','3','4','5','6','7']
Q1a=[53,134,103,50,49,4,2]
Q1b=[52,138,104,44,48,7,2]

In [ ]:
import plotly.graph_objects as go


fig = go.Figure(data=[
    go.Bar(name='Before Covid-19 began', x=numbers, y=Q1a),
    go.Bar(name='When Covid-19 began', x=numbers, y=Q1b)
])    
# Change the bar mode
fig.update_layout(barmode='group',title_text='The Effect of Covid-19 on Neighbors Relationships')
fig.show()

### Compare Question 2A with Question 2B

*   Question-2A: In the past month, how often did you communicate with friends and family by phone, text, email, app, or using the Internet?

*    Question-2B: During a typical month prior to March 1, 2020, when COVID-19 began spreading in the United States, how often did you
communicate with friends and family by phone, text, email, app, or using the Internet?

In [ ]:
# New Dataset
concretion_2=survey[['State','Question-2A','Question-2B']]
concretion_2.head(2)

       State  Question-2A  Question-2B
0   New York            2            1
1   New York            1            1

In [ ]:
# Change the type of variables as string
str_number3=[]
for num in survey['Question-2A']:
  str_number3.append(my_number(num))
str_number3[:5]

['2', '1', '1', '2', '1']

In [ ]:
# Compare the colums to make sure they have the same valuables for each row
concretion_2['Q-2A']=pd.Series(str_number3)
concretion_2[['Question-2A','Q-2A']].sample(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Question-2A Q-2A
233            2    2
13             1    1
317            1    1

In [ ]:
str_number4=[]
for num in survey['Question-2B']:
  str_number4.append(my_number(num))
str_number4[:5]

['1', '1', '1', '2', '1']

In [ ]:
concretion_2['Q-2B']=pd.Series(str_number4)
concretion_2[['Question-2B','Q-2B']].sample(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Question-2B Q-2B
304            1    1
316            1    1
374            2    2

In [ ]:
# Find the total nombers for each categories
concretion_2['Q-2A'].value_counts().sort_index()

1     267
2      95
3      20
4       2
5       8
77      1
98      2
Name: Q-2A, dtype: int64

In [ ]:
concretion_2['Q-2B'].value_counts().sort_index()

1     220
2     128
3      33
4       7
5       4
77      1
98      2
Name: Q-2B, dtype: int64

In [ ]:
Q2a=[267,95,20,2,8,1,2]
Q2b=[220,128,33,7,4,1,2]

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
labels=['Basically every day',' A few times a week', 'A few times a month',
        'Once a month','Not at all','Not sure','Skipped on the web']
fig = make_subplots(1, 2, specs=[[{'type':'domain'}, {'type':'domain'}]],
                    subplot_titles=['Before Covid-19 began', 'When Covid-19 began'])
fig.add_trace(go.Pie(labels=labels, values=Q2a, scalegroup='one',
                     name='Before Covid-19 began'), 1, 1)
fig.add_trace(go.Pie(labels=labels, values=Q2b, scalegroup='one',
                     name='When Covid-19 began'), 1, 2)

fig.update_layout(title_text='The Effect of Covid-19 on Friends and Family Relationships')
fig.show()

### Compare Question 3A with Question 3B

*    Question-3A: In the past month, did you spend any time volunteering for any organization or association, or not?

*    Question-3B: During a typical month prior to March 1, 2020, when COVID-19 began spreading in the United States, did you spend any time
volunteering for any organization or association, or not?

In [ ]:
# Create a new dataset
concretion_3=survey[['State','Qestion-3A','Qestion-3B']]
concretion_3.head(3)

       State  Qestion-3A  Qestion-3B
0   New York           1           1
1   New York           2           1
2   New York           2           2

In [ ]:
# Convert the data types
str_number5=[]
for num in survey['Qestion-3A']:
  str_number5.append(my_number(num))
str_number5[:5]
# Add the table 
concretion_3['Q-3A']=pd.Series(str_number5)
concretion_3[['Qestion-3A','Q-3A']].head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Qestion-3A Q-3A
0           1    1
1           2    2
2           2    2

In [ ]:
# Convert the data types
str_number6=[]
for num in survey['Qestion-3B']:
  str_number6.append(my_number(num))
str_number6[:5]
# Add the table 
concretion_3['Q-3B']=pd.Series(str_number6)
concretion_3[['Qestion-3B','Q-3B']].head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Qestion-3B Q-3B
0           1    1
1           1    1
2           2    2

In [ ]:
# Find the total numbers for each categories
concretion_3['Q-3A'].value_counts().sort_index()

1      55
2     338
77      2
Name: Q-3A, dtype: int64

In [ ]:
# Find the total nombers for each categories
concretion_3['Q-3B'].value_counts().sort_index()

1     104
2     287
77      3
98      1
Name: Q-3B, dtype: int64

In [ ]:
Q3a=[55,338,2,0]
Q3b=[104,287,3,1]
labels=['yes','No','Not Sure','Skipped on the web']

In [ ]:
# Graph and table
import plotly.graph_objects as go
import plotly.figure_factory as ff

# Add table data
table_data = [['Question','yes','No','Not Sure'],
              ['In the past month, <br>did you spend any time<br>volunteering for any <br>organization or association?', 55,338,2],
              ['When COVID-19 began <br>spreading in the United States,<br>did you spend any time<br>volunteering <br>for any organization<br>or association?', 104,287,3]]

# Initialize a figure with ff.create_table(table_data)
fig = ff.create_table(table_data, height_constant=60)

# Add graph data
labels=['yes','No','Not Sure']
Q3a=[55,338,2,]
Q3b=[104,287,3]

# Make traces for graph
trace1 = go.Bar(x=labels, y=Q3a, xaxis='x2', yaxis='y2',
                marker=dict(color='#0099ff'),
                name='Before Covid-19 began')
trace2 = go.Bar(x=labels, y=Q3b, xaxis='x2', yaxis='y2',
                marker=dict(color='#404040'),
                name='When Covid-19 began')

# Add trace data to figure
fig.add_traces([trace1, trace2])

# initialize xaxis2 and yaxis2
fig['layout']['xaxis2'] = {}
fig['layout']['yaxis2'] = {}

# Edit layout for subplots
fig.layout.yaxis.update({'domain': [0, .45]})
fig.layout.yaxis2.update({'domain': [.6, 1]})

# The graph's yaxis2 MUST BE anchored to the graph's xaxis2 and vice versa
fig.layout.yaxis2.update({'anchor': 'x2'})
fig.layout.xaxis2.update({'anchor': 'y2'})
fig.layout.yaxis2.update({'title': 'Goals'})

# Update the margins to add a title and see graph x-labels.
fig.layout.margin.update({'t':75, 'l':50})
fig.layout.update({'title': 'The Effect of Covid-19 on Volunteering for Any Organization or Association'})

# Update the height because adding a graph vertically will interact with
# the plot height calculated for the table
fig.layout.update({'height':800})

# Plot!
fig.show()

## Pyschological Effects

* Question-4: In the past 7 days, how often have you?
                
     4.A ) Felt nervous, anxious, or on edge

     4.B  ) Felt depressed 

     4.C  ) Felt lonely

     4.D  ) Felt hopeless about the future

     4.E  ) Had physical reactions such as sweating, trouble breathing,
nausea or a pounding heart when thinking about your
experience with the coronavirus pandemic


 Question Answer options: 

- 1 : Not at all or less than 1 day
- 2 : 1-2 days
- 3 : 3-4 days
- 4 : 5-7 days

In [ ]:
# Column names
survey.columns

Index(['State', 'Question-1A', 'Question-1B', 'Question-2A', 'Question-2B',
       'Qestion-3A', 'Qestion-3B', 'Question-4A', 'Question-4B', 'Question-4C',
       'Question-4D', 'Question-4E', 'Q-1A', 'Q-1B'],
      dtype='object')

In [ ]:
# I need to all columns with staring Question-4, and their values to create a new dataset

concretion_4=survey[['State', 'Question-4A', 'Question-4B', 'Question-4C',
       'Question-4D', 'Question-4E']]
concretion_4.head(3)

       State  Question-4A  Question-4B  Question-4C  Question-4D  Question-4E
0   New York            1            1            1            1            1
1   New York            1            1            2            1            1
2   New York            1            1            1            2            1

In [ ]:
# Convert the Data Type
str_number6=[]
for num in survey['Question-4A']:
  str_number6.append(my_number(num))
# Add the table 
concretion_4['Q-4A']=pd.Series(str_number6)
concretion_4[['Question-4A','Q-4A']].head(3)

   Question-4A Q-4A
0            1    1
1            1    1
2            1    1

In [ ]:
# Convert the Data Type
str_number7=[]
for num in survey['Question-4B']:
  str_number7.append(my_number(num))
# Add the table 
concretion_4['Q-4B']=pd.Series(str_number7)
concretion_4[['Question-4B','Q-4B']].head(3)

   Question-4B Q-4B
0            1    1
1            1    1
2            1    1

In [ ]:
# Convert the Data Type
str_number8=[]
for num in survey['Question-4C']:
  str_number8.append(my_number(num))
# Add the table 
concretion_4['Q-4C']=pd.Series(str_number8)
concretion_4[['Question-4C','Q-4C']].head(3)

   Question-4C Q-4C
0            1    1
1            2    2
2            1    1

In [ ]:
# Convert the Data Type
str_number9=[]
for num in survey['Question-4B']:
  str_number9.append(my_number(num))
# Add the table 
concretion_4['Q-4D']=pd.Series(str_number9)
concretion_4[['Question-4D','Q-4D']].head(3)

   Question-4D Q-4D
0            1    1
1            1    1
2            2    1

In [ ]:
# Convert the Data Type
str_number10=[]
for num in survey['Question-4E']:
  str_number10.append(my_number(num))
# Add the table 
concretion_4['Q-4E']=pd.Series(str_number10)
concretion_4[['Question-4E','Q-4E']].head(3)

   Question-4E Q-4E
0            1    1
1            1    1
2            1    1

In [ ]:
# Create new lists
concretion_4['Q-4A'].value_counts().sort_index()

1     242
2      76
3      37
4      38
98      2
Name: Q-4A, dtype: int64

In [ ]:
concretion_4['Q-4B'].value_counts().sort_index()

1     227
2      87
3      38
4      41
77      1
98      1
Name: Q-4B, dtype: int64

In [ ]:
concretion_4['Q-4C'].value_counts().sort_index()

1     236
2      84
3      40
4      31
77      1
98      3
Name: Q-4C, dtype: int64

In [ ]:
concretion_4['Q-4D'].value_counts().sort_index()

1     227
2      87
3      38
4      41
77      1
98      1
Name: Q-4D, dtype: int64

In [ ]:
concretion_4['Q-4E'].value_counts().sort_index()

1     347
2      32
3       8
4       6
77      1
98      1
Name: Q-4E, dtype: int64

In [ ]:
a=[242,76,37,38]
b=[227,87,38,41]
c=[236,84,80,31]
d=[227,87,38,41]
e=[347,32,8,6]

In [ ]:
import plotly.graph_objects as go

Labels = ['Not at all or less than 1 day','1-2 days','3-4 days','5-7 days']

fig = go.Figure()
fig.add_trace(go.Bar(
    x=Labels,
    y=[242,76,37,38],
    name='Felt Nervous or Anxious',
    marker_color='indianred'
))
fig.add_trace(go.Bar(
    x=Labels,
    y=[227,87,38,41],
    name='Felt Depressed',
    marker_color='Sandy brown'
))
fig.add_trace(go.Bar(
    x=Labels,
    y=[236,84,80,31],
    name='Felt Lonely',
    marker_color='darks almon'
))
fig.add_trace(go.Bar(
    x=Labels,
    y=[227,87,38,41],
    name='Felt Hopeless <br>about the Future',
    marker_color='light salmon'
))
fig.add_trace(go.Bar(
    x=Labels,
    y=[347,32,8,6],
    name='Had Physical Reactions',
    marker_color='orange'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
fig.layout.update({'title': 'The Effect of Covid-19 on Feeling of A Person'})
fig.show()